/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .offer-image-product{
    padding: 0 80px 0 80px;
    padding: 30px;
    width: 100%;
    background-size: cover;
  }
  .offer-image-product img{
    padding: 0 80px 0 80px;
    width: 100%;
  }


  
  .footer {
    position: relative;
    margin-top: auto; /* Pushes the footer to the bottom */
    max-width: 1280px;
    width: 100%;
    background: rgb(255, 227, 187);
    border-radius: 6px;
    padding: 10px;
  }

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 40px;
}

.footer-row .footer-col h4 {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: rgb(44, 39, 39);
}

.footer-col .links li a:hover {
  color: rgb(121, 71, 4);
}

.footer-col p {
  margin: 20px 0;
  color: black;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid black ;
  caret-color: black;
  color: black;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: black;
}

 .footer-col form button {
  background: #000000;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.modal-footer .button{
    background: #000000;
    color: #fff;
    outline: none;
    border: none;
    height: 40px;
    padding: 10px 5px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #ffffff;
  color: black;
  

}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: black;
}

.footer-col .icons i:hover  {
  color: red;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}


.last-2{
  background-color: rgb(254, 239, 224);
  text-align: center;
  color: rgb(0, 0, 0);
  height: 50px;

}
.last-2 h6{
  padding-top: 12px;
  font-weight: 400;
  justify-content: center;
}